@import '../variable';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Poppins:ital,wght@0,600;1,300;1,400;1,700&display=swap');
.contain-detail {
    margin: 30px 50px;
    display: flex;
}
.product-Img {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    img {
        width: calc(50% - 15px);
        margin-left: 15px;
        margin-bottom: 15px;
    }
}
.product-detail {
    flex: 1;
    margin: 0px 30px;
}
.product-title {
    font-size: 26px;
    color: #4f4f4f;
    margin: 20px 0;
    text-align: center;
}
.product-price {
    display: flex;
    .product__export--price {
        color: red;
        margin-left: 35%;
        font-weight: bold;
        margin-right: 15px;
        font-size: 18px;
    }
    .product__sale--price {
        font-size: 18px;
        text-decoration: line-through;
        color: #4f4f4fd5;
    }
}
.size--title,
.product-option--evaluate {
    font-size: 18px;
    color: #4f4f4f;
    text-align: center;
    line-height: 40px;
}

.product-option-rateStart {
    display: flex;
    margin-left: 15px;
    font-size: 18px;
    color: #161414;
    text-align: center;
    line-height: 40px;
}
.rate--title {
    background-color: #fff;
    img {
        height: 50px;
        width: 50px;
        margin-top: 5px;
        border-radius: 50%;
    }
}
.product-option-quantity {
    display: flex;
    margin-top: 25px;
    height: 30px;
    line-height: 30px;
}
#quantity {
    margin-left: 15px;
}
.quantity--input {
    display: flex;
    width: 150px;
    margin-left: 50px;
    justify-content: space-between;
    input {
        width: 60px;
        border-radius: 5px;
        outline: none;
        text-align: center;
    }
    .minus {
        border-radius: 5px;
        border: 1px solid #4f4f4f;
        width: 50px;
        cursor: pointer;
        margin-right: 0;
        i {
            font-size: 18px;
            margin-left: 6px;
            line-height: 30px;
        }
    }
    .plus {
        cursor: pointer;
        border: 1px solid #4f4f4f;
        border-radius: 5px;
        width: 50px;
        margin-left: 15px;
        i {
            font-size: 18px;
            margin-left: 6px;
            line-height: 30px;
        }
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity--title {
    font-size: 18px;
    color: #4f4f4f;
    text-align: center;
    line-height: 40px;
}
.product-option {
    border-top: 1px solid #4f4f4f38;
    margin-top: 20px;
}
.product-description {
    font-size: 18px;
}
.product-option-size {
    display: flex;
    margin-top: 25px;
    height: 40px;
    line-height: 40px;
}
.select--size {
    display: flex;
    margin-left: 25px;
}
.label-size {
    font-size: 17px;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
}
.product-option-rate {
    display: flex;
    margin-top: 25px;
    height: 40px;
    line-height: 40px;
}
.sticker-check {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 15px solid #1f1e1efb;
    border-left: 15px solid transparent;
    display: none;
}
.logo-check {
    font-size: 10px;
    position: absolute;
    color: white;
    right: 0;
    bottom: -15px;
    display: none;
}
.size--detail {
    border: 1px solid #4f4f4f63;
    width: 40px;
    z-index: 100;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}
.active-size {
    border: 1px solid #1f1e1efb;
}
.product-price__sticker {
    display: flex;
    margin-top: 10px;
    margin-left: 30%;
    height: 30px;
    margin-bottom: 15px;
    .price__sticker {
        width: 50px;
        height: 30px;
        margin-left: 20px;
        background: red;
        position: relative;
        text-align: center;
        line-height: 30px;
        color: white;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .price__sticker:before {
        content: '';
        position: absolute;
        right: 90%;
        top: 8px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 16px solid red;
        border-bottom: 8px solid transparent;
    }
    i {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
}
.product-btn {
    margin-top: 20px;
    display: block;

    .product-btn__addCart {
        height: 40px;
        text-align: center;
        border: none;
        width: 100%;
        color: #ffff;
        font-size: 18px;
        line-height: 40px;
        cursor: pointer;
        background-color: #4f4f4f;
        &:hover {
            background-color: #4f4f4f8a;
        }
    }
    .product-btn__buyCart {
        height: 40px;
        text-align: center;
        margin-top: 15px;
        color: #ffff;
        font-size: 18px;
        line-height: 40px;
        cursor: pointer;
        background-color: #4f4f4f;
        &:hover {
            background-color: #4f4f4f8a;
        }
    }
}
.contain--feedback {
    display: block;
    margin: 15px 50px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 8px;
    h2 {
        margin: 15px 20px;
    }

    .comment--feedback__rate {
        display: flex;
        background-color: #fff;
        height: 60px;
        margin: 10px 20px;
        .rate--title {
            line-height: 60px;
        }
        .rate--star {
            display: flex;
            align-items: center;
            justify-content: center;
            direction: rtl;
            label {
                margin-left: 15px;
                font-size: 22px;
                line-height: 60px;
                transition: all 0.2s ease;
                float: right;
            }
        }
        input {
            display: none;
        }
        input:not(:checked) ~ label:hover,
        input:not(:checked) ~ label:hover ~ label {
            color: #fd4;
        }
        input:checked ~ label {
            color: #fd4;
        }
    }
    .comment--feedback {
        display: flex;
        height: 40px;
        margin-left: 80px;
        background-color: #fff;
        margin-bottom: 20px;
        input {
            padding-left: 15px;
            width: 70%;
            font-size: 18px;
            border-radius: 10px;
        }
        .comment--feedback__btn {
            background-color: #f87c59;
            width: 100px;
            color: white;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            border: none;
            margin-left: 15px;
            line-height: 40px;
            border-radius: 10px;
            &:hover {
                background-color: #f87c59a8;
            }
        }
    }
    .list--feedback {
        margin: 5px 20px;
        .feedback-user {
            display: flex;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: rgba(79, 148, 238, 0.4) 0px 10px 15px;
            .user-img {
                flex: 1;
                img {
                    border-radius: 50%;
                    height: 50px;
                    margin-left: 20px;
                    margin-top: 16px;
                    width: 50px;
                }
            }

            .user-rate {
                i {
                    width: 0;
                    font-size: 18px;
                    color: #ecb620;
                }
            }
            .user-contain {
                flex: 14;
                margin: 10px 10px;
                .first-contain {
                    display: flex;
                    .user-comment {
                        flex: 5;
                        line-height: 100%;
                        font-size: 20px;
                    }
                    .user-name {
                        color: $backgroud-nav-color;
                        font-size: 18px;
                        flex: 1;
                        font-weight: bolder;
                    }
                    .time-ago {
                        flex: 1;
                    }
                }
                .second-contain {
                    margin-top: 8px;
                    display: flex;
                    .second-contain__btn {
                        a {
                            cursor: pointer;
                            color: #4f4f4f93;
                        }
                    }
                    .rate-product {
                        margin-left: 82%;
                        font-size: 18px;
                        i {
                            color: #fd4;
                        }
                    }
                }
            }
        }
    }
}
.disable--Size {
    pointer-events: none;
    opacity: 0.4;
}
.first {
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    height: 150px;
}
