$red-color: green;
$dark-gray-color: #e7e4e4;
$hover-nav-color: rgb(31, 30, 30);
$backgroud-table-color: #4e72dfa6;
$backgroud-nav-color: #4e73df;
$backgroud-main: #f8f9fcde;
$backgroud-nav-color__hover: #86a1f3bb;
$text-color: #fff;
$text-color__hover: rgba(255, 255, 255, 0.95);
$text-color-main: rgb(15, 15, 15);
$btn-backg: #36b9cc;
