<div class='footer'>
    <div class='location'>
        <div class='address'>
            <i class='fa-solid fa-house icon-footer'></i>
            <p class='title-location'>13c/9 Kỳ Đồng phường 9, quận 3</p>
        </div>
        <div class='phone'>
            <i class='fa-solid fa-phone icon-footer'></i>
            <p class='title-location'>098 841 9100 - 090 900 4191</p>
        </div>
        <div class='email'>
            <i class='fa-solid fa-envelope icon-footer'></i>
            <p class='title-location'>grimmdcsaigon@gmail.com</p>
        </div>
    </div>
    <div class='support'>
        <div class='title'>
            <h3>Hỗ trợ khách hàng</h3>
        </div>
        <div class='support_contain'>
            <p>Hướng dẫn mua</p>
            <p>Hướng dẫn thanh toán</p>
            <p>Chính sách bảo mật</p>
        </div>
    </div>
    <div class='contact'>
        <div class='title-contact'>
            <h2>Chúng tôi trên mạng xã hội</h2>
        </div>
        <div class='contact-contain'>
            <i class='fa-brands fa-facebook'></i>
            <i class='fa-brands fa-instagram'></i>
            <i class='fa-brands fa-youtube'></i>
        </div>
    </div>
</div>
<div class='copyright'>
    <p>Copyright © 2020 Dirty Coins Studio. Powered by Sapo</p>
</div>
<link rel='stylesheet' href='/css/shop/footer.css' />