<div class='modal'>
    <div class='modal-delete'>
        <div class='title_modal'><h3>Delete product</h3></div>
        <hr />
        <div class='contain_modal'>Bạn có chắc chắn xóa?</div>
        <hr />

        <div class='btn-ground'>
            <button class='delete_modal'>Xóa bỏ</button>
            <button class='back'>Hủy</button>
        </div>
    </div>
</div>
<form name='form-delete' method='post'></form>
<form name='form-restore' method='post'></form>