<div class='navigation'>
    <ul>
        <li>
            <a href='#'>
                <span class='title header'><h2>ADMIN</h2></span>
            </a>
        </li>
        <li>
            <a href='/dashboard'>
                <span class='icon'><i class='fa-solid fa-house fa' aria-hidden='true'></i></span>
                <span class='title'>Dashboard</span>
            </a>
        </li>
        <li>
            <a href='/staff'>
                <span class='icon'>
                    <i class='fa-solid fa-user fa'></i>
                </span>
                <span class='title'>Nhân viên</span>
                <i class='fa-solid fa-bars drop'></i>
            </a>
            <ul class='submenu'>
                <li>
                    <a href='/staff/info'>Xem thông tin</a>
                </li>
            </ul>
        </li>
        <li>
            <a href='/customers'>
                <span class='icon'><i class='fa-solid fa-users fa' aria-hidden='true'></i></span>
                <span class='title'>Khách hàng</span>
            </a>
        </li>
        <li>
            <a href='/products'>
                <span class='icon'><i class='fa-brands fa-product-hunt fa' aria-hidden='true'></i></span>
                <span class='title'>Sản phẩm</span>
                <i class='fa-solid fa-bars drop'></i>
            </a>
            <ul class='submenu'>
                <li>
                    <a href='/sizeProduct'>Size</a>
                </li>
                <li>
                    <a href='/statusProduct'>Trạng thái</a>
                </li>
            </ul>
        </li>
        <li>
            <a href='/category'>
                <span class='icon'><i class='fa-solid fa-table-list fa' aria-hidden='true'></i></span>
                <span class='title'>Danh Mục</span>
            </a>
        </li>
        <li>
            <a href='/receipt'>
                <span class='icon'><i class='fa-solid fa-receipt fa'></i></span>
                <span class='title'>Phiếu Nhập hàng</span>
            </a>
        </li>
        <li>
            <a href='/order'>
                <span class='icon'><i class='fa-solid fa-money-bill fa'></i></span>
                <span class='title'>Đơn hàng</span>
                <i class='fa-solid fa-bars drop'></i>

            </a>
            <ul class='submenu'>

                <li>
                    <a href='/statusOrder'>Trạng thái</a>
                </li>
            </ul>
        </li>
        <li>
            <a href='/supplier'>
                <span class='icon'><i class='fa-solid fa-truck-field fa'></i></span>
                <span class='title'>Nhà cung cấp</span>
            </a>
        </li>
        <li>
            <a href='/orderDetail'>
                <span class='icon'>
                    <i class='fa-solid fa-file-invoice fa'></i>
                </span>
                <span class='title'>Hóa đơn</span>
            </a>
        </li>

        <li>
            <a href='/staff/logout'>
                <span class='icon'><i class='fa-solid fa-right-from-bracket fa' aria-hidden='true'></i></span>
                <span class='title'>Log Out</span>
            </a>
        </li>

    </ul>
</div>