<div class='topbar'>
    <div class='toggle' onclick='toggleMenu()'> </div>
    <div class='search'>
        <label>
            <input type='text' placeholder='Searching...' />
            <i class='fa-solid fa-magnifying-glass fa'></i>
        </label>
    </div>
    <div class='user'>
        <div class='name-user'>
            <p class='nameUser'>Hi ! {{userStaff.name}}</p>
        </div>
        <img src='/img/user/{{userStaff.avatar}}' alt='' />
    </div>
</div>