
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel='stylesheet' href='/css/shop/cart.css'/>
    <link rel="stylesheet" href="/css/shop/contain.css">
    <link rel="stylesheet" href="/css/shop/detailProduct.css">
    <link rel='stylesheet' href='/css/staff/toastMessage.css' />
    <link rel="stylesheet" href="/css/shop/header.css">
    <script src="/js/validForm.js"></script>
    <link href="/font/fontawesome-free-6.1.2-web/css/all.css" rel="stylesheet">
    <script src='/js/admin.js'></script>
   
</head>
<body>
    <div class="app">
{{> toastMessage message}}


        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
    
</body>
</html>