{{> toastMessage message }}
<div class='table_product'>
    <div class='title'>
        <h2>Create Receipt</h2>
        <hr />
    </div>
    <div class='form-addSize'>
        <form method='post' class='category__add' action="/receipt/create">
            <div class='form_ground'>
                <input type='text' id='name' name='name' placeholder='Name of the receipt' />
                <label for='name'>Receipt</label>
            </div>
            <div class='form_ground'>
                <button class='back'><a href='/receipt'>Trở về</a></button>
                <button type='submit' class='add'>Thêm</button>
            </div>
        </form>
    </div>
    <div class='addmargin'>
        a
    </div>
</div>